@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  background: black;
}

body {
  color: #f1f1f1;
  background: black;

  width: 100dvw;
  max-width: 1000px;
  min-height: 100dvh;

  margin-left: auto;
  margin-right: auto;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

main {
  padding: 1.5rem;
}

input {
  color: #f1f1f1;
  background-color: #191919;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  outline: none;
  transition: border-color 0.15s ease background-color 0.15s ease;
}

input:focus {
  border-color: #a855f7;
}

input:hover,
input:focus,
input:active {
  background-color: rgb(32 32 32);
}

a {
  transition: color 0.15s ease;
}
a:hover {
  color: #a855f7;
}

.cl-card {
  border: 1px solid #262626;
}
