@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0 0 0;
    --color-primary: 168 85 247;
    --color-primary-foreground: 0 0 0;
    --color-secondary: 255 255 255;
    --color-secondary-foreground: 0 0 0;
    --color-destructive: 239 68 68;
    --color-destructive-foreground: 255 255 255;
    --color-accent: 64 64 64;
    --color-accent-foreground: 212 212 212;
  }
}

html {
  color-scheme: dark;
  background: rgb(var(--color-background));
}

body {
  color: rgb(var(--color-secondary));
  background: rgb(var(--color-background));

  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100dvw;
  min-height: 100dvh;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

header {
  max-width: 1000px;
}

main {
  max-width: 1000px;
  padding: 1.5rem;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
}

input,
textarea,
select,
option {
  color: #f1f1f1;
  background-color: #191919;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  outline: none;
  transition: all 150ms ease;
}

select {
  appearance: none;
  background-image: url("/chevron.svg"); /* svg */
  background-repeat: no-repeat;
  background-position: right 4px center; /* svg position */
  background-size: 24px; /* svg size */
  padding-right: 34px; /* enough padding to make space svg */
}

option {
  appearance: none;
}

input::placeholder,
textarea::placeholder {
  color: rgb(115 115 115);
}

input:hover,
input:focus,
input:active,
textarea:hover,
textarea:focus,
textarea:active,
select:hover,
select:focus,
select:active,
option:hover,
option:focus,
option:active {
  border-color: rgb(64 64 64);
  background-color: rgb(32 32 32);
}

input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active,
option:focus,
option:active {
  border-color: rgb(64 64 64);
}

button {
  outline: none;
}

a {
  transition: color 0.15s ease;
}

@media (min-width: 640px) {
  a:hover {
    color: #a855f7;
  }
}
a:active {
  color: #a855f7;
}

.cl-card {
  border: 1px solid #262626;
}

.cl-pageScrollBox::-webkit-scrollbar-track {
  box-shadow: none;
  background: #19191a;
}

.cl-pageScrollBox::-webkit-scrollbar-thumb {
  box-shadow: none;
  background: #666;
  border: 3px solid #19191a;
  transition: all 150ms ease;
}

.cl-pageScrollBox::-webkit-scrollbar-thumb:hover {
  box-shadow: none;
  background: #888;
  border: 2px solid #19191a;
}

.loader {
  border-bottom-color: transparent !important;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.4s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shimmer {
  user-select: none;
  border-radius: 0.5rem;
  background: linear-gradient(
    120deg,
    #eeeeee15 35%,
    #fafafa20 50%,
    #eeeeee15 65%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}
